@charset "ISO-8859-1";
body{
	/*background:#f2f2f2;*/
	background: url(../img/d1.jpg);
	background-repeat: no-repeat;
	color: white;
	background-attachment:scroll;
	background-position: center 0;	
}

